*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
}

body {
  color: #202020;
  background-color: #f0f4f4;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-cor {
  background-color: #574dbd;
  color: #ffffff;
  font-weight: 600;
  padding: 0.5em 0.9em;
  margin: 0.15rem;
  border-radius: 0.7em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background-color: #403898;
  }
}
.sair {
  background-color: #ff4848;
  &:hover {
    background-color: #c73131;
  }
}
.button-outline {
  border-width: 2px;
  border-style: solid;
  border-color: #494949;
  color: #494949;
  font-weight: 600;
  padding: 0.3em 0.7em;
  border-radius: 0.7em;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    color: #ffff;
    background-color: #494949;
    border-color: #494949;
  }
}

header,
main {
  background-color: white;
  margin-inline: 5vw;
  padding-inline: 2rem;
  padding-block: 1rem;
  border-radius: 1rem;
  width: 65%;
}

h2 {
  color: #574dbd;
}

main {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  gap: 1.5rem;
}

.img-index {
  width: 20rem;
}

h1 {
  margin-bottom: 0.75rem;
}

h4 {
  color: #f0415e;
}

.nav-list {
  display: flex;
  list-style: none;
  height: 100%;
  gap: 1.5rem;
}

input,
select {
  border: #574dbd 2px solid;
  padding-block: 0.1em;
  padding-inline: 0.2em;
  border-radius: 0.5rem;
}

.button-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  color: #574dbd;
  font-size: 1.1em;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: #312b70;
  }
}

.button-nav img {
  margin-block: 0.5rem;
  height: 3.5rem;
  width: 3.5rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.linha {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  justify-content: space-between;
  width: 22rem;
}
.linha p,
.linha input,
.linha select {
  width: 100%;
}
th,
td {
  padding-inline: 1rem;
  padding-block: 0.25rem;
  max-width: 40ch;
  text-wrap: wrap;
  word-wrap: break-word;
}
.inputdisabled {
  filter: contrast(0.3) grayscale(20%) brightness(1.5);
  user-select: none;
  cursor: not-allowed;
  pointer-events: none;
}
